---
---

$line-width: 1.25vw;
$line-height: 18px;
$font-body: 18px;
$font-headline: 28px;
$black: #000000;
$dark-gray: #666666;
$light-gray: #999999;
$white: #ffffff;

@mixin tablet-portrait-down {
  @media (max-width: 800px) { @content; }
}

@mixin laptop-up {
  @media (min-width: 1440px) { @content; }
}

html, body {
  font-size: $font-body;
  line-height: $line-height * 1.78;
  font-family: DINNextLTPro-Light, helvetica, arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #333;
  color: $white;
  word-break: break-word;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

p {
  margin-top: 0;
  margin-bottom: $line-height * 3;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: $font-headline;
  line-height: $line-height * 2;
  margin: 0;
  font-weight: normal;
  width: $line-width * 12;

  @include tablet-portrait-down {
    width: 100%;
  }
}

h2 {
  font-size: $font-headline;
  line-height: $line-height * 2;
  margin: 0;
  font-weight: normal;
}

h3 {
  font-size: $font-headline;
  line-height: $line-height * 2;
  margin: 0;
  font-weight: normal;
}

h4 {
  font-size: $font-headline;
  line-height: $line-height * 2;
  margin: 0;
  font-weight: normal;
  color: $white;
}

h5 {
  font-size: $font-headline;
  line-height: $line-height * 2;
  margin-top: 0;
  margin-bottom: $line-height * 2;
  font-weight: normal;
  color: $dark-gray;
}

img:not([src]) {
    visibility: hidden;
}

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

.body {
  padding: $line-height * 4 $line-width * 2 0 $line-width * 2;
  padding-bottom: 0;
  position: relative;
  z-index: 1;
  /*overflow: hidden;*/

  &.process {
    padding-top: $line-height * 2;
    background-color: $white;
    color: $black;
    z-index: 0;
  }

  @include laptop-up {
    padding-left: calc(50vw - 684px);
    padding-right: calc(50vw - 684px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: $line-height * 4;

  @include tablet-portrait-down {
    /*text-align: center;*/
    display: block;
  }

  &_logo {
    display: inline-flex;
    align-items: center;

    &_icon {
      position: relative;
      display: block;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      margin-right: $line-width;

      &_halo {
        pointer-events: none;
        z-index: -1;
        position: absolute;
        width: 1440px;
        height: 1440px;
        transform: translate(-50%, -50%);
        background-image: radial-gradient(#1B225E, #09002B 66%);
      }

      &_img {
        display: block;
        width: $line-height * 3;
        border-radius: 3px;
        /*box-shadow: 0 -3px ($line-width * 3) rgba(87, 168, 255, 0.7);*/
      }
    }

    &_name {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      letter-spacing: 0.02em;
      line-height: $line-height * 2;
    }
  }

  &_navigation {
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include tablet-portrait-down {
      justify-content: space-between;
      margin-top: 30px;
    }

    &_link {
      margin-left: $line-width * 4;
      cursor: pointer;

      @include tablet-portrait-down {
        margin: 0
      };
    
      &:last-child {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.1em;
        padding: ($line-width * 0.5) $line-width;
        background-color: #D3D6DA;
        color: #09002B;
        border-radius: 2px;
        transition: background-color 0.15s;

        &:hover {
          background-color: white;
        }
      }
    }
  }
}

.tagline {
  position: relative;
  width: 100%;
  margin-top: $line-height * 4;
  margin-bottom: $line-height * 7;
  display: block;

  &_container {
    width: $line-width * 46;
    margin: auto;
    text-align: center;

    @include tablet-portrait-down {
      width: 100%;
    }
  }

  &_headline {
    margin-bottom: $line-height;
  }

  &_wip {
    color: #9EA9FF;
  }
}

.overview {  
  margin: ($line-height * 3) auto (-$line-height * 6) auto; 
  max-width: 1280px;
  background-color: $black;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);

  &_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.process {
  padding-top: $line-height * 6;

  h3 {
    margin-bottom: $line-height * 2;
  }

  &_title {
    display: flex;
    padding-top: $line-height * 4;
    transition: opacity 0.3s;

    @include tablet-portrait-down {
      display: block;
    }

    &_name {
      flex-basis: $line-width * 12;
      margin-right: $line-width * 4;

      @include laptop-up {
        flex-basis: 216px;
        margin-right: 72px;
      }
    }

    &_section-selector {
      flex-basis: $line-width * 44;

      @include laptop-up {
        flex-basis: 792px;
      }

      @include tablet-portrait-down {
        font-size: $font-body;
        line-height: $line-height * 1.5;
      }

      & span {
        transition: color 0.15s;

        &.active {
          color: $black;
        }

        &.inactive {
          color: $light-gray;
        }
      }

      &:hover {

        & span.active {
          color: $light-gray !important;
        }
        
        & span.inactive {
          color: $black !important;
        }
      }
    }
  }

  &_posts {

    &_post {
      margin-top: $line-height * 5;
      padding-bottom: $line-height * 5;
      border-bottom: 1px solid #98A5D3;

      &_title {
        padding-left: $line-width * 16;
        width: $line-width * 60;
        margin-bottom: $line-height  * 2;

        @include tablet-portrait-down {
          padding: 0;
        }

        @include laptop-up {
          flex-basis: 1080px;
        }

        @include tablet-portrait-down {
          display: block;
        }

        &_tags {
          flex-basis: $line-width * 12;
          margin-right: $line-width * 4;
          color: $light-gray;
          text-align: right;
          font-size: $font-headline;
          line-height: $line-height * 2;

          @include laptop-up {
            flex-basis: 216px;
            margin-right: 72px;
          }
        }

        &_name {
          flex-basis: $line-width * 44;
          color: $black !important;

          @include laptop-up {
            flex-basis: 792px;
          }
        }
      }

      &_table {
        margin-top: $line-height  * 4;
        color: black;
        display: flex;

        @include tablet-portrait-down {
          display: block;
        }

        &_column {
          flex: 1;
          display: flex;
          flex-direction: column;

          @include tablet-portrait-down {
            display: block;
          }

          &:not(:first-child) {
            margin-left: $line-width;
          }

          &:not(:last-child) {
            margin-right: $line-width;
          }

          &_card {
            margin-bottom: $line-height;
            border: 1px solid #C1C9E6;
            background-color: #F5F7FA;
            border-radius: 3px;
            box-shadow: 0 2px 10px rgba(77, 68, 156, 0.15);

            h4 {
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
              font-size: 14px;
              line-height: $line-height * 1.5;
              text-transform: uppercase;
              font-weight: bold;
              margin-bottom: $line-height;
              border-bottom: 1px solid #C1C9E6;
              padding: ($line-width * 1) ($line-width * 2);
              background-color: white;
              color: #09002B;
            }

            p {
              padding: 0 ($line-width * 2) ($line-width * 1) ($line-width * 2);
              color: #09002B;
              font-size: 16px;
              line-height: 28px;
            }

            a {
              color: #09002B;
              text-decoration: underline;
            }
          }
        }
      }

      &_content {

        &.cta {
          margin-top: $line-height * 3;
          text-align: center;
          
          h3 {
            margin-bottom: 0;
          }
        }

        li {
          margin-left: $line-width * 3;
          margin-bottom: $line-height * 3;
          list-style: decimal;

          @include laptop-up {
            margin-left: 36px;
          }

          @include tablet-portrait-down {
            margin-left: 0;
          }
        }

        &:not(.full) {
          padding-left: $line-width * 16;
          width: $line-width * 44;

          @include laptop-up {
            padding-left: 288px;
            width: 792px;
          }

          @include tablet-portrait-down {
            padding: 0;
            width: $line-width * 76;
          }
        }

        & a:not(.gitlab) {
          text-decoration: underline;
        }

        & .label {
          color: $light-gray;
        }

        & .media {
          display: flex;
          margin-bottom: $line-height  * 4;
          margin-top: $line-height  * 4;
          width: $line-width * 44;

          &:last-child {
            margin-bottom: $line-height * 2;
          }

          & img {
            display: block;
            width: 100%;
            height: auto;
            opacity: 0;
            transition: opacity 0.3s;

            &.loading {
              opacity: 0;
              min-height: 300;
            } 

            &.loaded {
              opacity: 1;
            } 
          }          

          &.off {
            margin-left: -$line-width * 16;

            @include laptop-up {
              margin-left: -288px;
            }
          }

          &.l {
            width: $line-width * 59;

            @include laptop-up {
              width: 1080px;
            }
          }

          &.xl {
            width: $line-width * 75;

            @include laptop-up {
              width: 1350px;
            }
          }

          & .youtube {
            flex: 1;
            margin-right: 1px;
            display: block;
            background-color: lighten($light-gray, 30%);
            height: auto;

            &:last-child {
              margin-right: 0;
            }

            & video {
              width: 100%;
            }
          }

          & .image {
            flex: 1;
            margin-right: 1px;
            height: auto;

            &.border {
              border: 1px solid #ddd;
            }

            &:last-child {
              margin-right: 0;
            }

            & img {
              width: 100%;
            }
          }
          
          &.s {
            width: $line-width * 44;

            @include laptop-up {
              width: 792px;
            }

            & .image {
              background-color: transparent !important;

              & img {
                margin: auto;
                display: block;
                width: initial !important;
              }
            }
          }

          & .label {
            width: $line-width * 12;
            padding-right: $line-width * 4;
            flex-shrink: 0;
            color: $light-gray;
            font-size: 16px;
            line-height: 30px;

            @include laptop-up {
              width: 216px;
              padding-right: 72px;
            }

            @include tablet-portrait-down {
              width: $line-width * 76;
              padding-right: 0;
              margin-bottom: $line-height;
              text-align: center;
            }
          }

          @include laptop-up {
            width: 792px;
          }

          @include tablet-portrait-down {
            width: $line-width * 76 !important;
            margin-left: 0 !important;
            display: block;

            & .image {

              &:not(:last-child) {
                margin-bottom: $line-height * 2;
              }
            }

            & .youtube {

              &:not(:last-child) {
                margin-bottom: $line-height * 2;
              }
            }
          }
        }

        & .nb {
          color: $light-gray;
          font-style: italic;
          font-weight: 300;
        }
      }
    }
  }
}

.footer {
  margin-top: $line-height * 3;
  padding-bottom: $line-height * 3;
  text-align: center;

  a {
    text-decoration: underline;
  }
}

.photo-credit {
  color: $dark-gray;
  margin-bottom: $line-width;
}

.gitlab {
  width: auto;
  background-color: #09002B;
  display: inline-flex;
  align-items: center;
  padding: $line-width;
  border-radius: 3px;
  overflow: hidden;
  position: relative;

  &_icon {
    margin-right: $line-width;
  
    &_halo {
      pointer-events: none;
      z-index: 0;
      position: absolute;
      width: 250px;
      height: 250px;
      transform: translate(-50%, -50%);
      background-image: radial-gradient(#1B225E, #09002B 66%);
    }

    svg {
      z-index: 1;
      position: relative;
      display: block;
    }
  }

  &_copy {
    position: relative;
    margin-right: $line-width;
    color: white;
    text-decoration: none;
    border: none;
    display: inline;
    font-size: 13px;
  }

  &_arrow {
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid white;
  }
}
