---
layout: default
---


<head>

  <!--
  /**
   * @license
   * MyFonts Webfont Build ID 3293297, 2016-10-08T14:32:03-0400
   * 
   * The fonts listed in this notice are subject to the End User License
   * Agreement(s) entered into by the website owner. All other parties are 
   * explicitly restricted from using the Licensed Webfonts(s).
   * 
   * You may obtain a valid license at the URLs below.
   * 
   * Webfont: DINNextLTPro-Light by Linotype
   * URL: http://www.myfonts.com/fonts/linotype/din-next/pro-light/
   * Copyright: Copyright &#x00A9; 2008 - 2009 Linotype GmbH, www.linotype.com. All rights
   * reserved. This font software may not be reproduced, modified, disclosed or
   * transferred without the express written approval of Linotype GmbH.
   * 
   * Webfont: DINNextLTPro-Regular by Linotype
   * URL: http://www.myfonts.com/fonts/linotype/din-next/pro-regular/
   * Copyright: Copyright &#x00A9; 2010 Linotype GmbH, www.linotype.com. All rights
   * reserved. This font software may not be reproduced, modified, disclosed or
   * transferred without the express written approval of Linotype GmbH.
   * 
   * 
   * License: http://www.myfonts.com/viewlicense?type=web&buildid=3293297
   * Licensed pageviews: 250,000
   * 
   * © 2016 MyFonts Inc
  */
  -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CodeTalker</title>

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/MyFontsWebfontsKit.css">
  <!-- <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/icon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/icon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/icon-96.png" sizes="96x96"> -->
  <style>
    html, body {
      font-size: 18px;
      line-height: 18px;
      font-family: "Helvetica Neue", helvetica, arial, sans-serif;
      font-weight: normal;
      font-style: normal;
      padding: 25px;
      margin: 0;
      text-align: left;
      background-color: #333;
      color: white;
      word-break: break-word;
      overflow-x: hidden;
    }
  </style>
</head>

<body>
  <div class="body">
    <div style="padding:50.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/455519522?autoplay=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="fullscreen" allowfullscreen>
      </iframe>
    </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
</body>